*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
/* font-family: 'Poppins', sans-serif;, */
body{
font-family: 'Poppins', sans-serifb;
}
header{
background-image: url(annisa-ica-HnyMBlDdQWc-unsplash.jpg);
height : 100vh;
background-position: center;
background-repeat: no-repeat;  
background-size: cover;
padding-left: 50px;
padding-top: 2rem;

}
.nav-bar{
display: flex;
flex-direction: row;
align-items: right;
justify-content: space-between;
}
.logo{color:rgb(67, 21, 3);
font-size: 20px;
font-weight: bold;

}
.links{
padding-right:4rem;
}
.links ul{
display: flex;
flex-direction: row;
justify-content:center;
align-items: right;
list-style-type: none;
gap: 2rem
}
.links a{
font-size: 2rem;
color: rgb(219, 211, 220);
text-decoration: none;
text-transform:capitalize;
}
.links a:hover{
    color :red;
}
body-text{
    color:rgb(143, 11, 136);
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    margin-top:10%;
    border: 5px solid red;
}
.text h1{
    font-size: 3.5rem;
    color: rgb(253, 251, 251);
    text-align: center;
    
    width: 100%
}
.text p{
    font-size: 1.5rem;
    text-align: left;
    padding: 10px 0;
}
.btn{
    border: none;
    width: 70px;
    height:30px;
    font-size:1.4rem;
    background-color: inherit;
    color:white;
    text-align: center;
}
.button:hover{
   background-color :blue;
}
.about{
    border: 2px solid wheat;
    margin: 3rem;
    height: 700px;
    
}
.about-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 26px;
}
 .about-container img
 {
    width: 450px;
    height:550px ;
 }
 .about-text .button{
    background-color: gray;

 }
 .about-text .button.hover{
    background-color: rgb(208, 137, 44);
 }
 .about-text h2{
margin-bottom: 20px;
 }



              
 


















































